.container {
  height: 100vh;
  display: flex;
}

.left {
  flex: 1;
  position: relative;
  overflow: scroll;
}

.right {
  flex: 1;
  padding: 1rem 2rem;
  background-color: #31363f;
  color: #fff;
  overflow: scroll;
}

.review_button {
  position: absolute;
  bottom: 20px;
  right: 10px;
  padding: 8px 16px;
  font-size: 14px;
  background: transparent;
  border: 2px solid #ccc;
  color: #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.review_button:hover {
  background-color: #fff;
  color: #212121;
  border-color: #888;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.scroll-smooth {
  scroll-behavior: smooth;
}
